<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'category_list' %}">Categories</a></li>
        <li><a href="{% url 'home' %}">Receipts</a></li>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
        {% endif %}
    </nav>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for x in account_list.all %}
                <tr>
                    <td>{{x.name}}</td>
                    <td>{{x.number}}</td>
                    <td>{{x.receipts.count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>
