<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'account_list' %}">Accounts</a></li>
        <li><a href="{% url 'category_list' %}">Categories</a></li>
        <li><a href="{% url 'home' %}">Receipts</a></li>
        {% endif %}
    </nav>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ create_form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>
